*{
    padding:0;
    margin:0;
    font-family: sans-serif;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: black;
    color: white;
}
a{
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    transition: all 3s ease-in-out;
}
.right{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
}
a:hover{
    color: orange;

}
.banner{
    height: 300px;
    background-color: #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
button{
    height: 30px;
    width:100px;
    background-color: black;
    color: white;
    font-weight: bolder;
    font-size: 16px;
    border-radius: 7px;
    margin:15px;
    border: none;
}
.banner p{
    margin: 10px;
}
button:hover{
    background-color: orange;
    color: black;
}

.category img{
    height: 250px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 5px 10px black;
}
.categories{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}
h1{
    margin: 10px;
}
.offers{
    height: 200px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}
.feedback{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 50px;
}
.review{
    height: 200px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 5px 10px black;
}
.subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}