h4{
    color: rgb(69, 23, 154);
    padding-bottom:1px;
    margin-bottom:0px;
}
pre{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
table:nth-child(2){
    border:greenyellow;
    margin-left: 5%;
    padding-top:10px;
    padding-bottom:0px;
    margin-bottom: 0px;
}
.bold{
    color: brown;
}

tr{
    margin-bottom:0px;
    padding-bottom: 2px;
}
h4{
    margin-top:2px;
    margin-bottom: 0%;
    padding-top:10px;
    padding-bottom:1px;
}
h2{
    color:aqua;
}