*{
    margin:0px;
    padding: 0px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}
.right{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 28%;
}
.left img{
    height: 40px;
    margin-left: 40px;
}
.middle{
    width: 40%;
}
.middle input{
    width: 80%;
    height:45px;
    border-radius: 5px;
    border:gray solid 1px;
    padding-left: 10px;
}