body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: aqua;
}
#Container{
    padding: 20px;
    box-shadow: 0 0 20px black;
    border-radius: 15px;
    background-color:white;
    width:300px;
}